#box {
    width: 17%;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 4px;
}

#txt {
    padding: 9px 6px;
    margin: 8px 0;
    display: inline-block !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.disNone {
    display: none;
}

ul li {
    cursor: pointer;
    list-style-type: none;
}

ul li:hover {
    color: #598070;
}
